.wrapper {
  // width: 100%;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
}

.loader {
  border-style: solid;
  border-radius: 50%;
  animation: spin 800ms linear infinite;
}

.xs {
  width: 20px;
  height: 20px;
  border: 3px solid #f3f3f3; /* Light grey */
  border-top: 3px solid #3498db; /* Blue */
}

.sm {
  width: 36px;
  height: 36px;
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #3498db; /* Blue */
}
.md {
  width: 54px;
  height: 54px;
  border: 6px solid #f3f3f3; /* Light grey */
  border-top: 6px solid #3498db; /* Blue */
}
.lg {
  width: 72px;
  height: 72px;
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
