@import '@/styles/mixins';
@import '@/styles/variables';

.pedirBeews {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  padding-block: 2rem;
  max-width: 1200px;
  text-align: center;
  color: white;

  @include break_sm {
    min-height: 20rem;
  }

  @include break_md {
    min-height: 30rem;
  }

  @include break_lg {
    min-height: 40rem;
  }

  @include break_lg {
    min-height: calc(100vh - 79px);
  }

  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-family: SofiaProSemi;

    @include break_sm {
      font-size: 3rem;
    }

    @include break_md {
      font-size: 4rem;
    }

    @include break_lg {
      margin-bottom: 2rem;
      font-size: 4.5rem;
      line-height: 4.5rem;
    }
  }

  p {
    max-width: 700px;
    font-size: 1.1rem;
    margin-bottom: 1.5rem;

    @include break_sm {
      font-size: 1.4rem;
    }

    @include break_md {
      font-size: 1.7rem;
    }

    @include break_lg {
      margin-bottom: 2rem;
      font-size: 2rem;
    }
  }

  button {
    font-family: SofiaProBlack;
  }
}
