@font-face {
  font-display: swap;
  font-family: SofiaProRegular;
  src: url(/fonts/SofiaProRegular.woff);
}
@font-face {
  font-display: swap;
  font-family: SofiaProLight;
  src: url(/fonts/SofiaProLight.woff);
}
@font-face {
  font-display: swap;
  font-family: SofiaProBlack;
  src: url(/fonts/SofiaProBlack.woff);
}
@font-face {
  font-display: swap;
  font-family: SofiaProSemi;
  src: url(/fonts/SofiaProSemiBold.woff);
}
@font-face {
  font-display: swap;
  font-family: SunFlower;
  src: url(/fonts/SunFlower.woff);
}
