// Theme
$purple-light: #a684e6;
$purple-dark: #bb7ce8;
$red: #f46262;
$orange: #ff784b;
$yellow: #f9b046;
$cyan: #52d5d8;
$brown-light: #e9e1dc;
$brown-letter: #6a5545;
$dark-letter: #696871;
$brown-dark: #4a3f37;
$bg-footer: #3f3c38;
$bg-gray: #faf7f4;
$card-gray: #f4f0ed;

// White and gray
$white: #fff;
$gray-100: #f4f0ed;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #3f3c38;
$gray-900: #212529;
$black: #000;

$primary: $purple-dark;
$secondary: $brown-dark;
$dark: $gray-800;

// fonts
$font-family-sans-serif: 'DM Sans', sans-serif;

// border radius
$border-radius: 0.8rem;

// Buttons
$btn-padding-y: 0.5rem;
