@import '@/styles/variables';
@import '@/styles/mixins';

.light {
  background: $bg-gray;

  h2,
  h3,
  p {
    color: $brown-letter;
  }
}

.dark {
  background: $brown-dark;

  h2,
  h3,
  p {
    color: $gray-200;
  }
}

.commonSection {
  width: 90%;
  display: grid;
  margin: 0 auto;
  max-width: 1200px;
  padding-block: 2rem;

  @include break_sm {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding-block: 3.5rem;
  }

  @include break_md {
    padding-block: 3.8rem;
  }
  @include break_lg {
    padding-block: 4rem;
  }
  @include break_xl {
    padding-block: 5rem;
  }
  @include break_xxl {
    padding-block: 8rem;
  }

  &_content {
    display: flex;
    margin-bottom: 2rem;
    align-items: center;
    flex-direction: column;

    @include break_sm {
      margin-right: 1rem;
      margin-bottom: 0rem;
      align-items: flex-start;
    }
    @include break_md {
      margin-right: 2rem;
    }
    @include break_lg {
      margin-right: 3rem;
    }

    h2,
    h3,
    p {
      text-align: center;

      @include break_sm {
        text-align: left;
      }
    }

    h2 {
      font-weight: bold;
      font-family: SofiaProBlack;

      @include break_sm {
        font-size: 2.5rem;
      }
      @include break_md {
        font-size: 3rem;
      }
      @include break_lg {
        font-size: 4.5rem;
        line-height: 4.5rem;
        margin-bottom: 1rem;
      }
    }

    h3 {
      font-family: SunFlower;

      @include break_sm {
        font-size: 2.2rem;
      }
      @include break_md {
        font-size: 2.8rem;
      }
      @include break_lg {
        font-size: 3.5rem;
        margin-bottom: 1rem;
      }
    }

    p {
      @include break_md {
        font-size: 1.2rem;
      }
      @include break_lg {
        font-size: 1.5rem;
        margin-bottom: 2rem;
      }
    }
  }

  &_img {
    overflow: hidden;
    border-radius: 1.5rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
