@import '@/styles/variables';
@import '@/styles/mixins';

.hero {
  // height: calc(100vh - 80px);
  
  &_item {
    position: relative;
    background: $purple-light;
    height: 100%;

    @include break_xl {
      margin-top: -79px;
    }

    &Img1,
    &Img2 {
      z-index: 3;
    }

    &Img1 {
      position: absolute;
      display: none;
      right: 10%;
      bottom: 0;
      width: 25vw;
      max-width: 400px;
      max-height: 400px;
      border-radius: 0%;

      @include break_md {
        display: block;
      }
      @include break_lg {
        right: 20%;
      }
    }

    &Img2 {
      position: absolute;
      display: none;
      top: -3rem;
      right: 0;
      width: 25vw;
      max-width: 500px;
      max-height: 500px;
      border-radius: 0%;

      @include break_lg {
        display: block;
      }

      @include break_xl {
        top: 4.5rem;
      }
    }

    &Iso {
      width: 89px !important;
      height: 88px !important;
      transform: translate(120%, -5%);
    }
    &Text {
      width: 350px !important;
      transform: translate(-37%, 63%);
    }

    &Wrap {
      width: 90%;
      margin: 0 auto;
      // max-width: 1400px;
      display: flex;
      min-height: 20rem;
      padding: 2rem 1rem;
      flex-direction: column;
      justify-content: center;

      @include break_sm {
        height: 20rem;
        padding: 2rem 3rem;
        justify-content: center;
      }

      @include break_lg {
        height: 100vh;
        max-height: calc(1080px + 80px);
      }
    }

    h1,
    h3 {
      color: white;
      text-align: center;
      white-space: normal;

      @include break_sm {
        margin: 0 auto;
        max-width: 500px;
      }

      @include break_md {
        margin: 0;
        text-align: left;
      }

      @include break_xl {
        max-width: 650px;
      }
      @include break_xxl {
        max-width: 680px;
      }
    }

    h1 {
      margin-bottom: 1rem;
      // font-family: SofiaProRegular;
      font-family: SofiaProSemi;

      @include break_md {
        font-size: 3rem;
      }
      @include break_xl {
        font-size: 4.5rem;
        line-height: 4.5rem;
      }
    }

    h3 {
      font-size: 1rem;
      font-weight: 400;
      font-family: SofiaProLight;
      letter-spacing: normal;

      @include break_sm {
        font-size: 1.2rem;
      }

      @include break_md {
        font-size: 1.4rem;
      }

      @include break_xl {
        font-size: 1.6rem;
      }
    }

    button {
      margin: 0 auto;

      @include break_md {
        margin: 0;
        margin-right: auto;
      }
    }
  }

  &_item2 {
    width: 100%;
    position: relative;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #f8af46;
    background-image: url(/images/banner-home-1.png);

    height: 20rem;

    @include break_md {
      height: 30rem;
    }

    @include break_lg {
      background-size: cover;
      height: calc(100vh - 80px);
      max-height: 1080px;
    }

    @include break_xl {
      // min-height: 700px;
      // height: calc(100vh - 80px);
    }

    h1 {
      right: 1rem;
      bottom: 1rem;
      color: #4a3f37;
      text-align: right;
      position: absolute;
      width: 250px;
      font-size: 25px;

      font-family: SofiaProSemi;

      @include break_sm {
        width: 300px;
        right: 1rem;
        bottom: 2rem;
        font-size: 30px;
      }
      @include break_md {
        width: 400px;
        right: 3rem;
        bottom: 5rem;
        font-size: 40px;
      }
      @include break_lg {
        width: 500px;
        right: 3rem;
        bottom: 5rem;
        font-size: 50px;
      }

      @include break_xl {
        right: 62px;
        width: 700px;
        bottom: 150px;
        font-size: 70px;
      }
    }
  }
  &_item3 {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    align-items: flex-start;
    // background-size: cover;
    // background-position: right;
    // background-repeat: no-repeat;
    // background-image: url(/images/banner-home-2.png);

    height: 20rem;

    @include break_md {
      height: 30rem;
    }

    @include break_lg {
      height: calc(100vh - 80px);
      max-height: 1080px;
      align-items: center;
      background-size: cover;
      background-position: center;
    }

    @include break_xl {
      min-height: 700px;
    }

    img {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
    }

    &_overlay {
      z-index: 2;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    }

    &_play1,
    &_play2 {
      z-index: 4;
      top: 50%;
      left: 50%;
      border: 0;
      outline: 0;
      cursor: pointer;
      position: absolute;
      background: transparent;
      transform: translate(-50%, -50%);
    }

    &_play1 {
      display: none;
      @include break_md {
        display: block;
      }
    }
    &_play2 {
      top: 60%;
      display: block;
      @include break_md {
        display: none;
      }
    }

    &_content {
      // display: none;
      padding-top: 0.5rem;
      z-index: 3;
      width: 90%;
      margin: 0 auto;
      color: white;

      h1 {
        width: 100%;
        line-height: 1em;
        margin-bottom: 1rem;
        font-family: SofiaProSemi;
        
        @include break_lg {
          width: 400px;
          margin-bottom: 3rem;
        }
        @include break_xl {
          width: 510px;
          font-size: 60px;
        }
        @include break_xxl {
          font-size: 64px;
          width: 550px;
        }
      }

      button {
        border: 0;
        outline: 0;
        color: #fff;
        padding: 0.5rem 1rem;
        background: #f46262;
        border-radius: 15px;
        font-size: 25px;
        
        font-family: SofiaProSemi;
        line-height: 1em;

        @include break_lg {
          width: 400px;
          padding: 1rem;
          padding-top: 0.5rem;
          margin-bottom: 3rem;
        }
        @include break_xl {
          width: 510px;
          font-size: 45px;
        }
        @include break_xxl {
          width: 550px;
          // font-size: 64px;
        }
      }
    }
  }
}

.modal {
  position: relative;
  width: 90%;
  height: 300px;
  z-index: 1902;
  max-width: 1200px;

  @include break_md {
    height: 400px;
    max-height: 90vh;
  }

  @include break_lg {
    height: 450px;
  }
  @include break_xl {
    height: 650px;
  }

  button {
    position: absolute;
    top: -1rem;
    right: -1rem;
    border: 0;
    outline: 0;
    color: #fff;
    background: $red;
    border-radius:15px;
    padding: 0.5rem 1rem;
    font-family: SofiaProBlack;
  }
  
  iframe {
    width: 100%;
    height: 100%;
    // border-radius: 15px;
  }
}
