@import '@/styles/variables';
@import '@/styles/mixins';

.compromiso {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: $yellow;

  &_wrap {
    padding-block: 2rem;

    @include break_sm {
      padding-block: 3.5rem;
    }
    @include break_md {
      padding-block: 4.5rem;
    }
    @include break_lg {
      padding-block: 5.5rem;
    }
    @include break_xl {
      padding-block: 8rem;
    }

    @include container;

    h2,
    p {
      text-align: center;
    }

    h2 {
      font-family: SunFlower;

      @include break_sm {
        font-size: 2rem;
        line-height: 2rem;
      }
      @include break_md {
        font-size: 2.5rem;
        line-height: 2.5rem;
      }
    }

    p {
      font-family: SofiaProRegular;

      @include break_sm {
        width: 500px;
        margin: 0 auto;
        font-size: 1rem;
      }
      @include break_md {
        width: 700px;
        font-size: 1.2rem;
      }
      @include break_lg {
        font-size: 1.8rem;
      }
    }
  }

  &_title {
    width: 200px;
    margin: 0 auto;
    margin-bottom: 1rem;

    // display: flex;
    // flex-direction: column;
    // justify-content: center;

    @include break_sm {
      width: 250px;
      margin-bottom: 2rem;
    }
    @include break_md {
      width: 300px;
      margin-bottom: 3rem;
    }
  }
}

.separador {
  width: 100%;
  height: 0.8rem;
  object-fit: contain;
  background-image: url(/images/separador.svg);
}
