@import '@/styles/mixins';
@import '@/styles/variables';

.fundador {
  padding-block: 2rem;
  background-color: #fff;

  @include break_md {
    padding-block: 4rem;
  }

  @include break_lg {
    padding-block: 6rem;
  }

  &_grid {
    gap: 2rem;
    display: grid;
    color: white;
    align-items: center;
    grid-template-columns: 1fr;

    @include break_md {
      grid-template-columns: 1fr 1fr;
    }

    @include container;
  }

  &_content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    p,
    h2,
    h3 {
      text-align: center;
      @include break_md {
        text-align: left;
      }
    }

    p {
      font-family: SofiaProSemi;
      max-width: 500px;
      color: $brown-letter;

      @include break_sm {
        font-size: 1.2rem;
      }
      @include break_md {
        font-size: 1.3rem;
        max-width: 700px;
      }
      @include break_lg {
        font-size: 1.4rem;
      }
      @include break_xl {
        font-size: 1.5rem;
      }
    }

    h2 {
      color: $red;
      font-family: SunFlower;

      @include break_xl {
        font-size: 40px;
      }
    }

    h3 {
      color: $brown-letter;
      font-family: SunFlower;

      @include break_xl {
        font-size: 34px;
      }
    }
  }

  &_image {
    position: relative;
    width: 80%;
    margin: 0 auto;
    max-width: 682px;

    img {
      width: 100%;
      height: 100%;
      border-radius: 2rem;
    }

    &_name {
      width: 100%;
      position:absolute;
      top: 0;

      h2 {
        font-size: 40px;
        margin-top: 16px;
        text-align: center;
        font-family: SunFlower;

        @include break_md {
          font-size: 56px;
          margin-top: 20px;
        }

        @include break_xl {
          font-size: 96px;
          margin-top: 46px;
        }
      }
    }
  }
}
