@import '@/styles/variables';
@import '@/styles/mixins';

.primary {
  background: $primary;

  h1,
  p,
  span {
    color: white;
    text-align: center;
  }

  .card_pricingBox {
    background: $brown-light;

    h5 {
      color: #7b6d51;
    }
  }
}

.brown {
  background: $brown-light;

  h1,
  p {
    color: $brown-letter;
    text-align: center;
  }

  span {
    opacity: 0;
    user-select: none;
  }

  .card_pricingBox {
    background: $brown-letter;

    h5 {
      color: white;
    }
  }
}

.card_pricing {
  cursor: pointer;
  display: flex;
  position: relative;
  width: 90%;
  margin: 0 auto;
  max-width: 350px;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  padding-bottom: 1rem;
  padding-inline: 2rem;
  overflow: hidden;

  .card_overlay,
  .card_chosen {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;

    transition: all 0.3s linear;
    
    button {
      opacity: 0;
      pointer-events: none;
      color: $brown-letter;
      background-color: $brown-light;
    }
  }

  &:hover .card_overlay {
    pointer-events: unset;
    background-color: rgba($color: #000000, $alpha: 0.5);

    button {
      opacity: 1;
      pointer-events: unset;
    }
  }

  .card_chosen {
    pointer-events: unset;
    background-color: rgba($color: #000000, $alpha: 0.5);

    button {
      opacity: 1;
      pointer-events: unset;
    }
  }
  
  @include break_md {
    margin: 0 auto;
    max-width: 400px;
  }

  h1,
  p {
    text-align: center;
  }

  h1 {
    padding-top: 3rem;
    font-family: SofiaProRegular;
    font-weight: 700;
    font-size: 3.5rem;
    margin-bottom: 1rem;
  }

  p {
    font-family: SofiaProLight;
  }

  &Box {
    width: fit-content;
    margin-top: auto;
    margin-bottom: 1rem;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;

    h5 {
      margin: 0;
      font-family: SunFlower;
    }
  }
}
